body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    padding-bottom: 25px;
    font-size: 12px;
    font-weight: bold;
}

.register-form-container {
    height: 480px !important;
}

.login-form-container {
    height: 350px;
    width: 250px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 120px;
    height: auto;
}

#form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.float {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 12px;
    font-weight: bold;
}

.input {
    border: 0;
    border-bottom: 2px black solid;
    margin-top: 5px;
    width: 200px;
}

.input:focus {
    outline: none;
}

#link {
    font-size: 14px;
    color: black;
}

#button {
    cursor: pointer;
    border: 0;
    padding: 8px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 3px;
    text-align: center;
}

footer {
    position: fixed;
}
