main {
    padding-top: 70px;
    height: 100vh;
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
}

#container {
    margin: 70px 0px 70px;
    display: flex;
    border-radius: 2px;
    background-color: white;
    width: 1000px;
    border-radius: 2px;
    border: 2px solid black;
}

#products {
    width: 65%;
    border-right: 2px solid black;
}

.cards {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
    box-shadow: rgba(148, 148, 148, 0.2) 0px 0px 8px 0px;
}

.product-img {
    width: 60px;
    margin: 10px 50px 10px 10px;
}

.product-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 50px;
}

.card-title {
    font-size: 18px;
}

.qntd-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-qntd {
    width: 65px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 16px;
}

.qntd-operator {
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border: 0;
    background-color: white;
}
 

.remove-item {
    font-size: 10px;
    margin: 6px 5px 0px 0px;
    color: rgb(255, 107, 107);
    border: 0;
    background-color: white;
    cursor: pointer;
}
