@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

p {
    margin-bottom: 0px !important;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    position: relative;
    height: 70px;
}

#logo {
    height: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar-links {
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 14px;
}

/* .navbar-links::after {
    background-color: black;
    color: black;
    display: flex;
    content: ' ';
    width: 0%;
    height: 2px;
    bottom: 0;
    transition: 0.6s;
}

.navbar-links:hover::after {
    width: 100%;
} */

#menu-flutuante {
    position: relative;
}

#menu-flutuante:hover #roupas-box {
    display: flex;
}

#roupas-box {
    position: absolute;
    right: -70px;
    z-index: 1;
    padding: 8px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 10px;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 200px;
}

.roupas-link {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

#icons {
    display: flex;
    gap: 15px;
}

.bi {
    display: flex;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
}

.bi-person {
    font-size: 26px;
}

.bi-heart-fill {
    display: none;
}
