body {

    padding-top: 70px;
}

main {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    margin-bottom: 5px;
}

.d-block {
    max-height: 600px;
}

#roupas-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.categories-title {
    display: flex;
    align-items: center;
    flex: 1 1;
}

h4 {
    padding: 20px;
    margin-bottom: 0px !important;
    width: 50%;
}

.see-more {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-right: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    min-height: 21.25rem;
    max-width: 13.8rem;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    margin: 10px;
    border-radius: 2px;
    box-shadow: rgba(148, 148, 148, 0.2) 0px 2px 8px 0px;
}

.cards-img {
    height: 265px;
    width: 200px;
}

.cards-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    align-items: center;
}